[submodule "MovingParticle"]
	path = MovingParticle
	url = https://github.com/RodrigoAroeira/MovingParticle
[submodule "ConwaysGameOfLife"]
	path = ConwaysGameOfLife
	url = https://github.com/RodrigoAroeira/ConwaysGameOfLife
