[submodule "MovingParticle"]
	path = MovingParticle
	url = https://github.com/RodrigoAroeira/MovingParticle
	branch = main
[submodule "ConwaysGameOfLife"]
	path = ConwaysGameOfLife
	url = https://github.com/RodrigoAroeira/ConwaysGameOfLife
	branch = main
[submodule "videoToASCII"]
	path = videoToASCII
	url = https://www.github.com/RodrigoAroeira/videoToASCII
	branch = main
